/* Loading Screen */

#loader{

    position:fixed;

    inset:0;

    background:#F8F4E8;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    z-index:9999;

}

#loader img{

    width:260px;

    margin-bottom:35px;

}

.spinner{

    width:45px;

    height:45px;

    border:4px solid #ddd;

    border-top:4px solid #8B1018;

    border-radius:50%;

    animation:spin 1s linear infinite;

}

@keyframes spin{

to{
transform:rotate(360deg);
}
}

/* Navbar */
.navbar{
    background:#F8F4E8;
    box-shadow:0 2px 10px rgba(0,0,0,0.08);
    padding:12px 0;
}

.logo{
    height:55px;
    width:auto;
}

.navbar-nav{
    gap:10px;
}

.nav-link{
    color:#153F32;
    font-weight:500;
    transition:.3s;
}

.nav-link:hover{
    color:#8B1018;
}
/* HERO */
.hero{

    background:#F8F4E8;

    padding-top:120px;

    padding-bottom:40px;

}

.hero-banner{

    position:relative;

    border-radius:28px;

    overflow:hidden;

}

.hero-image{

    width:100%;

    height:620px;

    object-fit:cover;

    display:block;

}

.hero-overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.35);

    display:flex;
    flex-direction:column;
    align-items:flex-start;

    padding:70px;

    color:white;
}


.hero-logo{

    width: 400px;

    margin-bottom:120px;

}
.hero-content{
    margin-top:20px;
}


.hero-overlay h1{

      font-size:18px;
    font-weight:600;
    letter-spacing:1px;
    text-transform:uppercase;
    opacity:.9;
    margin-bottom:15px;
}

.hero-overlay p{

    width:520px;
    max-width:100%;
    font-size:18px;
    line-height:1.8;
    margin-bottom:35px;
}

.hero-button{

    display:flex;

    gap:18px;

}

.btn-outline{

    padding:14px 35px;

    border:2px solid white;

    color:white;

    border-radius:50px;

    text-decoration:none;

    transition:.3s;

}

.btn-outline:hover{

    background:white;

    color:#8B1018;

}
.btn-menu,
.btn-outline{

    padding:14px 35px;

    border:2px solid white;

    color:white;

    border-radius:50px;

    text-decoration:none;

    transition:.3s;

    background:transparent;

    font-weight:600;

}
.btn-menu:hover,
.btn-outline:hover{

    background:white;

    color:#8B1018;

}
.gallery-section{

    background:#F8F4E8;

    padding-bottom:80px;

}

.gallery-slider{

    display:flex;

    overflow-x:auto;

    gap:20px;

    scroll-behavior:smooth;

    padding-bottom:10px;

}

.gallery-slider::-webkit-scrollbar{

    height:8px;

}

.gallery-slider::-webkit-scrollbar-thumb{

    background:#8B1018;

    border-radius:20px;

}

.gallery-slider img{

    width:280px;

    aspect-ratio:4 / 5;

    object-fit:cover;

    border-radius:20px;

    flex-shrink:0;

}

.gallery-slider img:hover{

    transform:scale(1.04);

}

/* ================= MENU ================= */

.menu-section{
    background:#F8F4E8;
}

.section-title{
    text-align:center;
    color:#8B1018;
    font-weight:700;
    font-size:42px;
}

.section-subtitle{
    text-align:center;
    color:#666;
    margin-bottom:40px;
}

.menu-layout{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    gap:0;
}

.menu-a4{
    width:40%;
    display:block;
}

.menu-a3{
    width:56.5%;
    display:block;
}

/* ================= COMING SOON ================= */

.coming-section{
    background: #f8f4e8;;
    padding:100px 0;
}

.coming-card{
    max-width:700px;
    margin:40px auto 0;
    background:#153F32;
    border-radius:24px;
    padding:60px 40px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.coming-card h1{
    font-size:70px;
    margin-bottom:20px;
}

.coming-card h3{
    color:#f8f4e8;
    font-weight:700;
    margin-bottom:15px;
}

.coming-card p{
    color:#f8f4e8;
    margin:0;
}

/* ================= LOKASI ================= */

#lokasi{
    background:#F8F4E8;
}

.map-box{

    overflow:hidden;

    border-radius:20px;

    box-shadow:0 10px 25px rgba(0,0,0,.12);

}

.map-box iframe{

    width:100%;

    height:450px;

    border:0;

}
/* ================= KONTAK ================= */
.contact-card{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-decoration:none;
    background:#8B1018;
    color:#F8F4E8;
    border-radius:20px;
    padding:40px 25px;
    transition:.3s;
    height:100%;
    box-shadow:0 10px 25px rgba(0,0,0,.1);
}

.contact-card:hover{
    background:#153F32;
    transform:translateY(-8px);
    color:#F8F4E8;
}

.contact-icon{
    width:60px;
    height:60px;
    object-fit:contain;
    margin-bottom:18px;
}

.contact-card h4{
    margin-bottom:8px;
}

.contact-card p{
    margin:0;
    color:#F8F4E8;
}
#kontak{
    background:#F8F4E8;
    padding:80px 0;
}
/* ================= FOOTER ================= */

footer{

    background:#153F32;

    color:#F8F4E8;

    text-align:center;

    padding:25px;

}

.gallery-home{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:15px;
    margin-top:60px;
}


.gallery-home img{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:18px;
    transition:.3s;
    cursor:pointer;
}

.gallery-home img:hover{
    transform:scale(1.04);
}

@media(max-width:768px){

.gallery-home{
    grid-template-columns:repeat(2,1fr);
}

.gallery-home img{
    height:170px;
}

}

.jam-operasional{

    background:#153F32;

    border-radius:20px;

    padding:30px;

    margin-top:35px;

    text-align:center;

    box-shadow:0 10px 25px rgba(247, 243, 243, 0.08);

}

.jam-operasional h3{

    color:#F8F4E8;

    margin-bottom:20px;

}
.jam-operasional p{
    color:#F8F4E8;
    margin-bottom:12px;
}
/* ================= HP - HOME ================= */

@media (max-width: 768px){

    .hero{
        padding:85px 12px 20px;
    }

    .hero-banner{
        height:680px;
        border-radius:20px;
    }

    .hero-image{
        width:100%;
        height:100%;
        object-fit:cover;
    }

    .hero-overlay{
        padding:35px 25px;
        justify-content:flex-start;
    }

    /* Logo tetap di atas */
    .hero-logo{
        width:270px;
        max-width:90%;
        margin-top:5px;
        margin-bottom:65px;
    }

    /* Tentang kami */
    .hero-overlay h1{
        font-size:16px;
        margin-bottom:12px;
    }

    .hero-overlay p{
        width:100%;
        font-size:15px;
        line-height:1.7;
        margin-bottom:28px;
    }

    /* Tombol */
    .hero-button{
        display:flex;
        gap:10px;
    }

    .btn-menu,
    .btn-outline{
        padding:11px 22px;
        font-size:14px;
        white-space:nowrap;
    }


    /* ================= HP - LOKASI ================= */

    #lokasi{
        padding:60px 15px !important;
    }

    #lokasi .container{
        width:100%;
        padding:0;
    }

    #lokasi .section-title{
        font-size:32px;
    }

    #lokasi .section-subtitle{
        font-size:14px;
        margin-bottom:25px;
    }

    #lokasi iframe{
        display:block;
        width:100% !important;
        height:330px !important;
        border:0;
        border-radius:18px;
    }

    .jam-operasional{
        width:100%;
        margin-top:25px;
        padding:25px 15px;
        border-radius:18px;
        box-sizing:border-box;
    }

    .jam-operasional h3{
        font-size:21px;
        margin-bottom:18px;
    }

    .jam-operasional p{
        font-size:14px;
        line-height:1.6;
    }

}
